.profiles {
  margin: 40px 200px 0;
}

@media (max-width: 1100px) {
  .profiles {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 700px) {
  .profiles {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (max-width: 600px) {
  .profiles {
    margin: 42px 19px 0;
  }
}
