.popup__img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 90px auto 0;

  max-width: 75vw;
  max-height: 75vh;
  position: relative;
}
/* @media (max-width: 600px) {
  .popup__img-container {
    max-width: 95vw;
  }
} */
